@import "Partials/variables";
@import "Partials/extensions";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "Partials/header";
@import "Partials/main";
@import "Partials/footer";

// Page settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $mainFont;
}

.container {
  width: $containerWidth;
  margin: auto;
}
