@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600;700&display=swap);main .container ul,
header nav ul {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

header #logo {
  text-align: center;
}

header #logo img {
  width: 300px;
  height: auto;
  padding: 30px 0;
}

header nav {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  height: 100%;
}

header nav ul li a {
  display: inline-block;
  height: 100%;
  padding: 0 30px;
  font-size: 25px;
  font-weight: 600;
  color: #0F0F0F;
  transition: background 0.4s ease;
}

header nav ul li a.selected {
  background-color: #B3E5FC;
}

header nav ul li a:hover {
  background-color: #B3E5FC;
}

main {
  background-image: url(/images/bg-main.jpg);
  padding: 40px 0;
}

main .container {
  width: 70%;
  margin: auto;
}

main .container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

main .container h3:not(:first-of-type) {
  padding-top: 40px;
}

main .container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

main .container ul li {
  width: calc((100% / 3) - 20px);
  overflow: hidden;
  font-size: 0;
  margin: 10px 10px 0 0;
  position: relative;
}

main .container ul li img {
  width: 100%;
  transition: transform 0.7s ease;
}

main .container ul li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: all 1s ease;
}

main .container ul li:hover img {
  transform: scale(1.5);
}

main .container ul li:hover .overlay {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

