main {
  width: $containerWidth;
  margin: auto;

  h3 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 40px;
  }

  ul {
    @extend %listReset;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      width: calc(100% / 3);
      padding: 10px 10px 0 0;
    }

    img {
      width: 100%;
    }
  }
}
