#product {

    h1 {
        text-align: center;
        padding: 10px 0 80px 0;
    }

    img {
        display: block;
        width: 100%;
    }

    div.text {
        font-size: 30px;

        ol {
            margin-left: 80px;
            text-indent: 20px;
        }
    }
}